/*==================================
  INDEX
    BASE
    IMAGE
    BIO
    SKILLS
    BACKGROUND
    MEDIA QUERIES
        <= 985
==================================*/

/* BASE */

.about {
  font-size: 1em;
  max-width: 180ch;
  min-height: 50vh;
  text-align: left;
  margin: 8em 10vw 0;

  h2,h3,p {
    max-width: 75ch;
  }
}


/* IMAGE */

.about .bio-photo {
  width: clamp(15em, 25vw, 30em);
  aspect-ratio: 14/17;
  border-radius: 4px;
  z-index: 5;
  float: right;
  margin: 0 0 2em 2em;
}


/* BIO */

.bio,
.bio-skills {
   max-width: 150ch;
}

.bio {
  text-align: left;
  margin: 2em 0;
}

.bio p {
  margin-bottom: 1em;
}

.identity {
  padding: 0;
  list-style: none;
}

.country-tag {
  display: inline-block;
  position: relative;
  padding: 2px;
  filter: opacity(80%);
}

.country-tag:hover,
.country-tag:active {
  cursor: pointer;
  filter: saturate(100%) opacity(100%);
}

.country-tag:hover::after,
.country-tag:active::after {
  content: attr(alt);
  display: block;
  position: absolute;
  bottom: 1.5em;
  left: 0.25em;
  padding: 0.2em 0.8em;
  width: auto;
  border-radius: 1em 1em 1em 0;
  background: #444;
  color: #fff;
}

/* SKILLS */

.bio-skills {
  text-align: left;
}

.bio-skills ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 30%;
  list-style: none;
  gap: 0.5em;
  padding: 0;
}

.bio-skills li {
  display: block;
  width: fit-content;
  margin-bottom: 0.5em;
}

.bio-skills .skill-pill {
  color: #000;
  padding: 0.25em 1em;
  border-radius: 4em;
  background-color: var(--color-primary-light);
}

/* BACKGROUND */

.bio-background {
  margin: 4em 0 2em;
  padding: 1em;
  background-color: var(--color-bg-offset);
  border-radius: 4px;
}

.bio-background-links {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
}

.role-list {
  list-style: none;
  padding: 0;
  margin-top: 1em;
}

.role-item {
  margin-bottom: 1em;
}

.role-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

.role-org::before {
  content: "@ ";
}

/* MEDIA QUERIES */

/*
@media (width >= 2500px) {
  .about {
    width: 1200px;
    padding: 8em 0;
    margin: auto;
  }
}
*/

@media screen and (width <= 450px) {
  .about .bio-photo {
    float: none;
    width: 100%;
    margin: 0 0 2em;
  }
}