/*==================================
  INDEX
    BASE
    IMAGE
    BIO
    SKILLS
    BACKGROUND
    ROLE TIMELINE
    MEDIA QUERIES
        <= 985
==================================*/

/* BASE */

.about {
  font-size: 1em;
  max-width: 180ch;
  min-height: 50vh;
  text-align: left;
  margin: 8em 10vw 0;

  h2,h3,p {
    max-width: 75ch;
  }
}


/* IMAGE */

.about .bio-photo {
  width: clamp(15em, 25vw, 30em);
  aspect-ratio: 14/17;
  border-radius: var(--static-radius-small);
  z-index: 5;
  float: right;
  margin: 0 0 2em 2em;
}


/* BIO */

.bio,
.bio-skills {
   max-width: 150ch;
}

.bio {
  text-align: left;
  margin: 2em 0;
}

.bio p {
  margin-bottom: 1em;
}

.identity {
  padding: 0;
  list-style: none;
}

.country-tag {
  display: inline-block;
  position: relative;
  padding: 2px;
  filter: opacity(80%);
}

.country-tag:hover,
.country-tag:active {
  cursor: pointer;
  filter: saturate(100%) opacity(100%);
}

.country-tag:hover::after,
.country-tag:active::after {
  content: attr(alt);
  display: block;
  position: absolute;
  bottom: 1.5em;
  left: 0.25em;
  padding: 0.2em 0.8em;
  width: auto;
  border-radius: var(--static-radius-large) var(--static-radius-large) var(--static-radius-large) 0;
  background: #444;
  color: #fff;
}

/* SKILLS */

.bio-skills {
  text-align: left;
}

.bio-skills ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 30%;
  list-style: none;
  gap: var(--static-spacing-xsmall);
  padding: 0;
}

.bio-skills li {
  display: block;
  width: fit-content;
  margin-bottom: 0.5em;
}

.bio-skills .skill-pill {
  color: #000;
  padding: 0.25em 1em;
  border-radius: var(--static-radius-xlarge);
  background-color: var(--color-primary-light);
}

/* BACKGROUND */

.bio-background {
  margin: var(--static-spacing-medium) 0 var(--static-spacing-medium);
  padding: var(--static-spacing-medium);
  background-color: var(--color-bg-offset);
  border-radius: var(--static-radius-small);

  .section-title,
  .role-org {
    height: 0;
    opacity: 0;
  }
}

.bio-background-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: var(--static-spacing-large);
}

/* ROLE TIMELINE */

.about .role-list {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  list-style: none;
  padding: 0;
  margin-top: 1em;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid var(--color-text-dark);
  }
}

.about .role-item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--static-spacing-medium);
}

.about .role-card-wrapper,
.about .role-recs {
  width: 50%;
}

.about .role-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: var(--static-spacing-medium);
}

.about .role-card {
  width: clamp(15em, 25vw, 20em);
  background: var(--color-bg-dark);
  color: var(--color-util-pure);
  border-radius: var(--static-radius-small);
  overflow: hidden;

  .dark-mode & {
    background: var(--static-color-grey-68);
  }
}

.about .org-logo {
  max-width: 80%;
  margin: var(--static-spacing-small) auto var(--static-spacing-small);
}

.about .role-title {
  width: 100%;
  text-align: center;
  padding: var(--static-spacing-small);
  background: var(--static-color-grey-48);

  .dark-mode & {
    background: var(--static-color-grey-110);
  }
}

.about .role-year {
  position: absolute;
  right: calc(50% - 2.5em);
  bottom: 1.5em;
  color: var(--color-text-dark);
  padding: var(--static-spacing-xsmall);
  width: 5em;
  text-align: center;
  background-color: var(--color-bg-offset);
}

.about .role-item:nth-child(2n+0) {
  flex-direction: row-reverse;

    .role-card-wrapper {
      justify-content: start;
    }

    .role-year {
      left: calc(50% - 2.5em);
    }

}


/* MEDIA QUERIES */

/*
@media (width >= 2500px) {
  .about {
    width: 1200px;
    padding: 8em 0;
    margin: auto;
  }
}
*/
@media screen and (width <= 875px) {
  .about .role-year {
    bottom: -2em;
  }
}

@media screen and (width <= 875px) {
  .about .role-card-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (width <= 450px) {
  .about .bio-photo {
    float: none;
    width: 100%;
    margin: 0 0 2em;
  }

  .about .bio-background-links {
    gap: var(--static-spacing-small)
  }

  .about .role-card-wrapper {
    width: auto;
  }

  .about .role-item {
    flex-direction: column;
    align-items: center;
  }

  .about .role-item:nth-child(2n+0) {
    flex-direction: column;
  }
}