.advanced-components {
  font-size: clamp(12px, 1vw + 1rem, 24px);
  padding: 4em 2em 2em;
  margin-bottom: 4em;
}

.advanced-components .project-summary {
  border-radius: 0.5em;
  margin: 1em auto;
}

.advanced-components .gallery {
  display: flex;
  flex-flow: column wrap;
  gap: 6em;
  margin-top: 6em;
}

.advanced-components .gallery-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
}

.advanced-components .gallery-item:nth-child(odd) {
  flex-direction: row-reverse;
}

.advanced-components :is(.gallery-video,.gallery-detail) {
  flex-basis: 40%;
  flex-grow: 1;
  min-width: 20em;
  text-align: left;
  box-sizing: border-box;
}