.advanced-components {
  font-size: clamp(12px, 1vw + 1rem, 24px);
  padding: var(--static-spacing-medium);
  margin-top: var(--static-spacing-large);
  margin-bottom: var(--static-spacing-large);
}

.advanced-components .project-summary {
  border-radius: var(--static-radius-small);
  margin: 1em auto;
}

.advanced-components .gallery {
  display: flex;
  flex-flow: column wrap;
  gap: 6em;
  margin-top: 6em;
}

.advanced-components .gallery-item {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  gap: var(--static-spacing-medium);
}

.advanced-components .gallery-item:nth-child(odd) {
  flex-direction: row-reverse;
}

.advanced-components :is(.gallery-video,.gallery-detail) {
  flex-basis: 40%;
  flex-grow: 1;
  min-width: 20em;
  text-align: left;
  box-sizing: border-box;
}