/*==================================
  INDEX
    HEADER LOGO
    HEADER NAV
    MAIN / ARTICLE
    GALLERY
    FOOTER
    NOT FOUND (404)
    MEDIA QUERIES
==================================*/

.App {
  text-align: center;
}

h2,h3,p,ol,ul {
  max-width: 75ch;
}

/* HEADER LOGO */

.page-header {
  position: fixed;
  inset: 0 0 auto 0;
  background-color: rgba(255,255,255,0.8);
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  padding: 1em 2em;
  z-index: 10;
  font-family: var(--font-feature);

  transition: background-color 1s;
}

.page-header:hover {
  background-color: var(--color-util-pure);
}

.page-header .title {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: 1.25em;
  font-weight: 600;
}

/* HEADER NAV */

.page-header :is(nav, .non-page-nav) {
  display: flex;
  align-items: center;
}

.page-header .nav-link {
  margin: 0 0.5em;
  color: inherit;
}

.page-header .nav-link:is(:hover,:active,:focus) {
  color: var(--color-active);

  .inline-icon path {
    stroke: var(--color-active);
    fill: var(--color-active);
  }
}

.page-header .back-nav.nav-link {
  height: 1.25em;
  margin: 0;
}

.page-header .inline-icon {
  display: inline;
  width: 0.75em;
  margin: 0 0.5ch 0;

  path {
    stroke: var(--color-text-default);
    fill: var(--color-text-default);
  }
}

.dark-mode-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
}

.dark-mode-toggle svg.inline-icon {
  width: 1.25em;

  path {
    fill: var(--color-text-default);
    stroke: var(--color-text-default);
  }
}

.dark-mode .dark-mode-toggle svg path {
  fill: var(--color-text-light);
  stroke: var(--color-text-light);
}

.page-header .non-page-nav {
  padding-left: 0.5em;
  border-left: 1px solid var(--color-text-light);
  margin-left: 0.5em;
}

/* MAIN */

main {
  max-width: 1440px;
  margin: 8em 10vw 0;
}

/* GALLERY */

.gallery-title {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 0.25em;
}

.gallery-subtitle {
  color: var(--color-text-soft);
  margin: -0.5em 0 1em;
}

.gallery-photo img,
.gallery-video {
  border-radius: var(--static-radius-small);
}

.gallery-detail :is(p, ul) {
  margin-bottom: 1em;
}



/* FOOTER */

.page-footer {
  padding: 2em;
}

.dark-mode .page-footer {
  background-color: var(--color-util-pure);
}

.page-footer :is(.work-links, .play-links) {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: var(--static-spacing-small);
  margin: 1em auto;
}

.page-footer .contact-links a {
    display: inline-flex;
    margin: 0.25em 0.5em;
}

.page-footer .email-me {
  font-size: 2em;
}

.page-footer .linkedin-img {
  width: 1.5em;
}

.page-footer .copyright {
  margin-top: 2em;
}


/* NOT FOUND */

.not-found {
  margin: 8em auto;
}

.not-found .page-title {
  margin-bottom: 1em;
}

/* MEDIA QUERIES */

@media screen and (width >= 2016px) {
  main {
    margin-left: auto;
    margin-right: auto;
  }
}