/*==================================
  INDEX
    BASE
        General Spacing
    INTRO
    SLIDE WRAPPER
        Color Blocks
        Callout Block
    SLIDE CONTENT
    SLIDE GRID
    SLIDE SPANS
    HEADING BANNER
    IMAGES
    NDAs
    REFLECTIONS
    INTERSECTION - FADE
    MISC
    MEDIA QUERIES
        <= 715
        <= 400
==================================*/

/* BASE */

.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    font-size: 1em;
    text-align: left;
}

/* General Spacing */

.project :is(p, ul) {
    margin-bottom: 1em;
}

.project li {
    margin-bottom: 0.5em;
}


/* INTRO */

.project-intro {
    position: relative;
    min-height: 15em;
    margin-bottom: 4em;
}

.project-title {
    margin: 0;
}

.project-subtitle {
    margin-bottom: 1em;
}

.project-overview {
    display: flex;
    flex-flow: row wrap;
    gap: var(--static-spacing-medium);
}

.project-splash {
    flex-basis: clamp(10em,100%,75ch);
    flex-grow: 1;
}

.project-summary {
    background-color: var(--color-secondary);
    color: var(--static-color-white);
    padding: 1em 2em;
    border-radius: var(--static-radius-medium) var(--static-radius-medium) 0 0;
}

.project-intro .project-hero-img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 0 0 var(--static-radius-medium) var(--static-radius-medium);
}

.project-notes {
    display: flex;
    flex-flow: row wrap;
    flex-basis: clamp(10em,30%,75ch);
    flex-grow: 1;
    gap: var(--static-spacing-medium);
}

.project-note {
    flex-grow: 1;
    width: clamp(10em,50%,20em);
    background: var(--color-bg-offset);
    padding: 1em;
    border-radius: var(--static-radius-medium);

    .project-note-label {
        font-weight: bold;
    }
}

/* SLIDE WRAPPER */
/*
    - Wrappers determine when .fade-in fires
    - All .fade-in blocks w/in wrapper occur together
*/

.slide-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    min-height: max-content;
    margin-bottom: 2em;

    &:has(.slide-grid) {
        display: grid;
    }
}

.slide-wrapper:last-child {
    margin-bottom: 0;
}

.slide-wrapper::before {
    content: '';
    display: block;
    position: absolute;
    inset: 0 0 0 0;
    border-radius: var(--static-radius-small);
    transition: all 600ms;
}

.slide-background {
    position: absolute;
    inset: 0 0 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: var(--static-radius-small);
    z-index: 1;
    transition: all 600ms;
}

/* Color Blocks */

.color-block {
    padding: 2em 0;
}

.color-block:not(.color-block-offset) {
    color: var(--static-color-white);
}

.color-block-primary::before {
    border-image: fill 0 linear-gradient(var(--color-primary),var(--color-primary));
    border-image-outset: 0 100vw;
}

.color-block-secondary::before {
    border-image: fill 0 linear-gradient(var(--color-secondary),var(--color-secondary));
    border-image-outset: 0 100vw;
}

.color-block-dark::before {
    border-image: fill 0 linear-gradient(var(--static-color-black),var(--static-color-black));
    border-image-outset: 0 100vw;
}

.color-block-offset::before {
    border-image: fill 0 linear-gradient(var(--color-bg-offset),var(--color-bg-offset));
    border-image-outset: 0 100vw;
}

.callout-block {
    padding: 1.5em;
    border-radius: var(--static-radius-large);
    color: var(--color-util-pure);
    background-color: var(--color-secondary);
}


/* SLIDE CONTENT */

.slide {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: var(--static-spacing-medium);
    padding: 2em 0;
    z-index: 2;
    transition: all 600ms;
}

.slide.txt-img,
.slide-images.img-group {
    flex-flow: row wrap;
}

.slide.stacked,
.slide-images.stacked {
    flex-flow: column nowrap;
}

.slide-images.stacked .image-wrapper {
    display: block;
}

.slide.txt-img .slide-notes {
    flex-basis: 35%;
    flex-grow: 1;
    width: clamp(15em, 35%, 100%);
}

.slide.txt-img .slide-images {
    flex-basis: 60%;
    flex-grow: 1;
}

.slide.txt-solo {
    justify-content: flex-start;
    align-items: center;
}

.slide.txt-solo .slide-notes {
    flex-basis: 60%;
    flex-grow: 1;
    max-width: 60em;
}

.slide-images.img-group {
    display: flex;
    align-items: center;
    gap: var(--static-spacing-small);
}

/* SLIDE GRID */

.slide-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--static-spacing-medium);
    z-index: 2;
    transition: all 600ms;
}

/* SLIDE SPANS 
    For flex containers and 12-column grids
*/

.slide-wrapper .span-25 {
    grid-column: span 3;
    flex-basis: calc(25% - var(--static-spacing-medium));
    flex-grow: 1;
}

.slide-wrapper .span-33 {
    grid-column: span 4;
    flex-basis: calc(33% - var(--static-spacing-medium));
    flex-grow: 1;
}

.slide-wrapper .span-50 {
    grid-column: span 6;
    flex-basis: calc(50% - var(--static-spacing-medium));
    flex-grow: 1;
}

.slide-wrapper .span-66 {
   grid-column: span 8;
   flex-basis: calc(66% - var(--static-spacing-medium));
   flex-grow: 1;
}

.slide-wrapper .span-75 {
   grid-column: span 9;
   flex-basis: calc(75% - var(--static-spacing-medium));
   flex-grow: 1;
}

.slide-wrapper .span-100 {
   grid-column: span 12;
   flex-basis: 100%;
   flex-grow: 1;
}


/* HEADING BANNER */

.heading-banner {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: var(--color-text-light);
    padding: 1em 0;
    z-index: 1;

    h2 {
        font-size: 3em;
        font-weight: 900;
        margin: 0;
    }

    img {
        width: 5em;
        opacity: 0.75;
    }
    
    .slide-wrapper:has(&) {
        margin: 4em 0 2em;
    }
}

.project .text-block {
    min-width: 25ch;
    flex-grow: 1;
}

/* IMAGES */

.project img {
    border-radius: var(--static-radius-small);
}

.image-wrapper {
    display: flex;
    flex-direction: column;
}

.image-wrapper img {
    width: 100%;
}

.no-stretch img,
.no-stretch {
    max-width: min-content;
    width: auto;
    height: auto;
}


.captioned img {
    border-radius: var(--static-radius-small) var(--static-radius-small) 0 0;
}

.caption {
    font-size: 0.75em;
    width: 100%;
    padding: 1em 2em; 
    background-color: var(--color-bg-offset);
    color: var(--color-text-default);
    border-bottom-left-radius: var(--static-radius-small);
    border-bottom-right-radius: var(--static-radius-small);
}

.caption::before {
    content: "↳";
    margin-right: 0.5em;
}


/* NDAs */

.nda-locked {
    position: relative;
    padding: 1em;
    background: var(--color-bg-offset);
    text-align: center;
}

.nda-locked::before {
    content:'';
    display: inline-block;
    position: absolute;
    top: 0;
    right: -2em;
    bottom: 0;
    left: -2em;
    z-index: -1;
    border-radius: var(--static-radius-medium);
    background-image: repeating-linear-gradient(-45deg, #222, #222 25px, #fa0 26px, #fa0 50px);
}

.nda-locked::after {
    content:'';
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #fff;
    border-radius: var(--static-radius-small);
}



/* REFLECTIONS */

.reflections {
    font-size: 1.1em;
    color: var(--color-util-pure);
}

.reflections ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.reflections .good-highlight {
    color: var(--color-secondary);
}

.reflections::before {
    border-image: fill 0 linear-gradient(var(--color-secondary),var(--color-secondary));
    border-image-outset: 0 100vw;
}

.reflections .slide.txt-solo .slide-notes {
    flex-basis: 80%;
    flex-grow: 1;
    max-width: 60em;
}

.reflections .good-highlight {
    background: var(--color-util-pure);
    padding: 0.25em 0.5em;
    border-radius: var(--static-radius-small);
}


/* INTERSECTION - FADE */

.fade-in {
    opacity: 0;
    transition: opacity 500ms ease-in, transform 500ms ease-out;
}

.fade-in.fade-from-left {
    transform: translateX(-3em);
}

.fade-in.fade-from-right {
    transform: translateX(3em);
}

.fade-in.fade-from-bottom {
    transform: translateY(3em);
}

.fade-in.fade-from-top {
    transform: translateY(-3em);
}

.slide-wrapper:is(.slide-visited,.slide-active) .fade-in {
    transform: translate(0);
    opacity: 1;
}

/* MISC */

.mobile-help-text {
    display: none;
    visibility: hidden;
}


/* MEDIA QUERIES */

@media (width <= 1150px) {

    .slide-grid {
        .span-25,
        .span-33,
        .span-50,
        .span-66 {
            grid-column: span 6;
        }
    }

    .slide-grid .span-75 {
        grid-column: span 8;

        & + .span-25 {
            grid-column: span 4;
        }
    }

    .slide-grid .span-100 {
        grid-column: span 12;
    }
}

@media (width <= 1200px) {

    :is(.slide.txt-solo, .slide.txt-img) .slide-notes,
    .project :is(.slide-images,.txt-img .slide-images) {
        flex-basis: 70%;
        flex-grow: 1;
    }
}

@media (width <= 800px) {

    .project .image-wrapper,
    .project .image-wrapper img,
    .project .image-wrapper.no-stretch,
    .project .image-wrapper.no-stretch img {
        max-width: 80vw;
    }

    .reflections .slide.txt-solo .slide-notes {
        flex-basis: 90%;
        flex-grow: 1;
    }

    .project .color-block .image-wrapper,
    .project .color-block .image-wrapper img {
        width: 100%;
    }

    .mobile-help-text {
        display: block;
        visibility: visible;
    }
}

@media (width <= 715px) {
    .project-summary {
        position: relative;
        top: initial;
        width: 100%;
    }

    .heading-banner {
        flex-flow: row wrap;
    }
}

@media (width <= 400px) {
    
    .slide-wrapper {
        margin: 0.5em;
    }

    :is(.slide.txt-solo, .slide.txt-img, .reflections) .slide-notes {
        width: 100%;
        min-width: 100%;
    }

    .project :is(.slide-images,.txt-img .slide-images) {
        flex-basis: 100%;
        flex-grow: 1;
    }

    .project .image-wrapper,
    .project .image-wrapper img,
    .project .image-wrapper.no-stretch,
    .project .image-wrapper.no-stretch img {
        max-width: 100vw;
    }

    .project .color-block .image-wrapper,
    .project .color-block .image-wrapper img {
        width: 100%;
    }

    .project .reflections,
    .project-summary {
        margin: 0;
    }

    .project .reflections .slide {
        padding: 1em 0;
    }


    .project .reflections::before {
        border-radius: 0;
    }
}