.rec-wrapper {
  background-color: var(--color-bg-offset);
  margin-bottom: 2em;
}

.rec-list {
  display: inline-flex;
  align-items: center;
  overflow-x: auto;
}

.rec-item {
  flex-grow: 1;
  padding: 1em;
}

.rec-item:not(.active):hover,
.rec-item:not(.active):focus,
.rec-item:not(.active):active {
  cursor: pointer;
}

.rec-photo {
  width: clamp(3.5em, 3vw + 1rem, 5em);
  filter: grayscale(100%);
  clip-path: circle(50%);
  transition: filter, transform 1s;
}

.rec-item.active .rec-photo {
  filter: grayscale(0);
  transform: scale(1.25);
}

.rec-item:hover .rec-photo,
.rec-item:focus .rec-photo,
.rec-item:active .rec-photo {
  filter: grayscale(0);
  transform: scale(1.25);
}

.rec-photo img {
  width: 100%;
}


/* Rec Details */

.rec-detail-wrapper {
  font-size: clamp(12px, 1vw + 1rem, 18px);
  background-color: var(--color-text-default);
  color: #fff;
  padding: 1em 2em;
}

.rec-detail {
  width: 100%;
  max-width: 30em;
  text-align: left;
  margin: 0 auto;
}

.rec-name {
  font-weight: 700;
}

.rec-title {
  font-size: 0.9em;
  font-weight: 300;
  color: var(--color-secondary);
}

.rec-quote {
  display: block;
  margin-top: 0.5em;
}