.rec-wrapper {
  background-color: var(--color-bg-offset);
  padding: 0 2em;
  margin-bottom: 2em;
}

.rec-list {
  display: inline-flex;
  align-items: center;
  overflow-x: auto;
}

.rec-item {
  display: flex;
  align-items: center;
  gap: 1em;
  max-width: 33vw;
  text-align: left;
  padding: 1em;
  border-radius: 4px;
}

.rec-item:not(.active):hover,
.rec-item:not(.active):focus,
.rec-item:not(.active):active {
  cursor: pointer;
}

.rec-item.active {
  min-width: 20em;
  background-color: #444;
  color: #fff;
}

.rec-photo {
  width: 4em;
  min-width: 4em;
  height: 4em;
  filter: grayscale(100%);
  border-radius: 4em;
  overflow: hidden;
  transition: filter, transform 1s;
}

.rec-item.active .rec-photo {
  filter: grayscale(0);
  transform: scale(1.25);
}

.rec-item:hover .rec-photo,
.rec-item:focus .rec-photo,
.rec-item:active .rec-photo {
  filter: grayscale(0);
  transform: scale(1.25);
}

.rec-photo img {
  width: 100%;
}

.rec-name {
  font-weight: 700;
}

.rec-title {
  font-size: 0.9em;
  font-weight: 300;
}

.rec-quote {
  display: block;
  margin-top: 0.5em;
}