/*==================================
  INDEX
    COLOR OVERRIDES
    PERSONA SLIDES
    C-W-R MOCKS
    FOLLOW-UP PROJECTS
==================================*/


/* COLOR OVERRIDES */

.upgrades {
    --color-primary: #072158;
    --color-secondary: #1c469f;
}

.dark-mode .upgrades {
    --color-primary: #3e5c9c;
    --color-secondary: #3e7bc4;
}

/* C-W-R MOCKS */

.upgrades-crawl-walk-run-inset {
    justify-content: space-between;
    gap: 1em;
    padding: 2em 0 2em;
}

.upgrades-crawl-walk-run-inset .image-wrapper {
    flex-grow: 1;
    width: clamp(8em, 30%, 100%);
    min-width: 8em;
}

/* FOLLOW-UP PROJECTS */

.project-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    gap: 2em;

    .slide-images {
        flex-grow: 1;
        width: clamp(30em, 40%, 75ch);
        box-sizing: border-box;
    }
}

.upgrade-follow-up .slide-notes {
    width: clamp(30em, 60%, 100%);
}

.upgrade-follow-up .project-group .slide-images {
    flex-grow: 1;
    /*min-width: 25em;*/
    /*max-width: 90vw;*/
    width: clamp(20em, 45%, 90vw);
}