/*==================================
  INDEX
    COLOR OVERRIDES
    PERSONA SLIDES
    C-W-R MOCKS
    FOOTER
    MEDIA QUERIES
==================================*/


/* COLOR OVERRIDES */

.upgrades {
    --color-primary: #072158;
    --color-secondary: #1c469f;
}

.dark-mode .upgrades {
    --color-primary: #3e5c9c;
    --color-secondary: #3e7bc4;
}

/* DESIGN PROCESS */

.upgrades .design-process {
    font-size: clamp(12px, 2vw, 1em);
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
    font-weight: 800;
    color: #848A88;
    padding: 1em 0 2em;

    .design-phase {
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 0.25em;
    }

    .phase-icon {
        display: inline;
        height: 2.5em;
        aspect-ratio: 1.5/1;
    }
}

/* C-W-R MOCKS */

.upgrades-crawl-walk-run-inset {
    justify-content: space-between;
    gap: 1em;
    padding: 2em 0 2em;
}

.upgrades-crawl-walk-run-inset .image-wrapper {
    flex-grow: 1;
    width: clamp(8em, 30%, 100%);
    min-width: 8em;
}


/* FOOTER */

.upgrades-footer {
    position: relative;
    min-height: 20em;
    padding: 8em 0;

    &::before {
        content: '';
        display: block;
        position: absolute;
        inset: 0 0 0 0;
        border-image: url("../../public/img/vehicle-tiling-pattern.png") fill 0;
        border-image-repeat: repeat;
        border-image-outset: 0 100vw;
        
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        inset: 0 0 0 0;
        border-image: linear-gradient(rgba(250,250,250,0.2),#fff 90%) fill 0;
        border-image-repeat: repeat;
        border-image-outset: 0 100vw;
    }
}

/* MEDIA QUERIES */

@media (width <= 500px) {
    .upgrades .design-process {
        font-size: 1rem;
        flex-flow: column nowrap;
    }   
}