/*==================================
  INDEX
    BASE
    INTRO
    GALLERY
    GOOD/BAD HIGHLIGHTS
==================================*/

/* BASE */

.work {
  font-size: 1em;
  min-height: 50vh;
}


/* INTRO */

.work .intro {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  text-align: left;
  margin-bottom: 4em;
}

.intro-bio {
  font-size: 1vw;
  flex-basis: 70%;
}

.intro .intro-photo {
  float: left;
  width: clamp(15rem, 18vw, 30rem);
  aspect-ratio: 14/17;
  border-radius: 1em 2em 0 0;
  z-index: 5;
  shape-outside: inset(0 0 10% 0 round 1em 1em 100% 1em);
  clip-path: inset(0 0 15% 0 round 1em 1em 70% 1em);
  margin: 0 2rem 2rem 0;
}

.intro .page-title {
  font-size: clamp(2rem, 3.25em, 4rem);
  line-height: 1.3;
  color: var(--color-text-dark);
  margin: -0.25em 0 0;
}

.intro .details {
  font-size: clamp(1.25rem, 1.25em, 2rem);
  font-weight: 300;
  margin: 1em 0 3em;
  width: 100%;
}

.intro .intro-callouts {
  flex-basis: 30%;
  text-align: right;

  p {
    margin: 0 1em 1em 0;
  }

  ul {
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    padding: 0;
    gap: var(--static-spacing-small);
  }
}

.callout-item {
  display: block;
  width: fit-content;
  align-self: end;
  color: var(--static-color-black);
  font-weight: 350;
  padding: 0.5em 1.25em;
  border-radius: var(--static-radius-xlarge);
  background-color: var(--color-primary-light);
}

/* GALLERY */

.work .gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: var(--static-spacing-medium);
}

.work .gallery-item {
  flex-basis: calc(50% - 3em);
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  gap: var(--static-spacing-medium);
  align-items: center;
  padding: 1em;
  text-align: left;
  transition: all 500ms;
  color: inherit;
  background-color: var(--color-bg-offset);
  border-radius: var(--static-radius-small);
  box-sizing: border-box;
}

.work .gallery-item.gallery-highlight {
  flex-basis: 100%;
}

.work .gallery-item.gallery-minor {
  flex-basis: calc(25% - 3em);

  .gallery-detail {
    font-size: clamp(12px, 0.75em, 1rem);
  }
}

.work .gallery-item .gallery-photo,
.work .gallery-item .gallery-details {
  flex-basis: 40%;
  flex-grow: 1;
}

.work .gallery-item .gallery-detail {
  padding: 1em;
}

.work .gallery-item .gallery-title {
  font-family: var(--font-base);
}

.work .gallery-item:is(:hover,:active,:focus) {
  cursor: pointer;
  background-color: var(--color-util-pure-80);
  box-shadow: var(--shadow-default);
  border-radius: var(--static-radius-small);
  transform: scale(1.05);
}


/* GOOD/BAD HIGHLIGHTS */

.good-highlight,
.bad-highlight {
  font-style: italic;
  font-weight: 600;
}

.good-highlight {
  color: var(--color-text-good);
}

.bad-highlight {
  color: var(--color-text-bad)
}

@media screen and (width <= 1019px) {
  .work .intro {
    display: flex;
    flex-flow: column;
    text-align: left;
  }

  .intro .intro-callouts {
    text-align: left;
    margin-top: -2em;

    p {
      margin-bottom: 1em;
    }

    ul {
      flex-flow: row wrap;
    }

    .callout-item {
      display: inline-block;
      align-self: start;
    }
  }
}

@media screen and (width <= 900px) {
  .work .gallery-item,
  .work .gallery-item.gallery-highlight,
  .work .gallery-item.gallery-minor {
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media screen and (width <= 586px) {
  .intro .intro-photo {
    float: right;
    width: clamp(10rem, 30vw, 30rem);
    aspect-ratio: 14/17;
    shape-outside: inset(0 0 25% 0 round 1em 1em 1em 100%);
    clip-path: inset(0 0 25% 0 round 1em 1em 1em 70%);
    margin: 0 0 2em 2em;
  }

  .intro .details {
    clear: both;
    position: relative;
    top: -1em;
  }
}