/*==================================
  INDEX
    BASE
    INTRO
    GALLERY
    DS CTA
    GOOD/BAD HIGHLIGHTS
==================================*/

/* BASE */

.work {
  font-size: 1rem;
  min-height: 50vh;
}


/* INTRO */

.work .intro {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  text-align: left;
  padding: 8em 2em 4em;
}

.work .intro .page-title {
  font-size: 3em;
  color: var(--color-text-dark);
  margin: 0;
}

.work .intro .details {
  margin-top: 0.5em;
}

.work .intro .highlight {
  color: var(--color-primary);
  margin-right: 0.4em;
  font-weight: 100;
  font-family: var(--font-base);
}

.dark-mode .intro .highlight {
  color: var(--color-secondary);
}


/* GALLERY */

.work .gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3em;
  padding: 2em;
}

.work .gallery-item {
  flex: 0 0 40%;
  min-width: 20em;
  padding: 1em;
  text-align: left;
  transition: all 500ms;
  color: inherit;
}

.work .gallery-item .gallery-title {
  font-family: var(--font-base);
}

.work .gallery-item:is(:hover,:active,:focus) {
  cursor: pointer;
  background-color: var(--color-util-pure-80);
  box-shadow: var(--shadow-default);
  border-radius: 4px;
  transform: scale(1.05);
}

.work .gallery-title {
  margin: 1em 0 0.25em;
}

.work .gallery-item.nda-locked {
  position: relative;
}

.work .gallery-item.nda-locked::before {
  content: "NDA";
  display: block;
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  color: #fff;
  font-weight: 800;
  text-align: center;
  padding: 0.5em 1em 0.5em 2.5em;
  border-radius: 1em;
  background: #C20;
  background-image: url("/public/img/lock.svg");
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: 1em 0.5em;
}


/* CTA */

.cta-group {
  padding: 4em 0;
}

.cta-btn {
  display: inline-block;
  padding: 1em 2em;
  background-color: var(--color-primary);
  color: var(--color-util-pure);
  border-radius: 4px;
  transition: all 500ms;
  margin: 0 2em;
}

.dark-mode .cta-btn {
  background-color: var(--color-secondary);
}

.cta-btn:is(:hover,:active,:focus) {
  background-color: var(--color-primary-light);
  color: var(--color-util-pure);
}

.dark-mode .cta-btn:is(:hover,:active,:focus) {
  background-color: var(--color-secondary-light);
}

.cta-btn .arrow {
  transition: all 500ms;
}

.cta-btn:is(:hover,:active,:focus) .arrow {
  margin-left: 3em;
}


/* GOOD/BAD HIGHLIGHTS */

.good-highlight,
.bad-highlight {
  font-style: italic;
  font-weight: 600;
}

.good-highlight {
  color: var(--color-text-good);
}

.bad-highlight {
  color: var(--color-text-bad)
}